accelerate
boto3
ffmpeg-python
glob2
json5
matplotlib
nest-asyncio
numpy
openai
pandas
pydub
pyttsx3
python-telegram-bot
random2
SpeechRecognition
tensorflow
tensorflow-hub
torch
torchvision
yt-dlp
diffusers
google-auth
google-api-python-client
Pillow
pytube3
scikit-learn
sentence-transformers
transformers
ultralytics